#kmmSlide {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#sdBg {
    clear: both;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
	background-color: rgb(255, 255, 255);
}

#slideLine {
    background: url("../images/dot.png") repeat-x scroll center bottom transparent;
    clear: both;
    height: auto;
    width: 100%;
}
#slide {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.slide_bar {
    bottom: 0;
    height: 30px;
    left: 0;
    overflow: hidden;
    padding-top: 13px !important;
    position: absolute;
    text-align: center;
    width: 555px;
    z-index: 69;
}
img {
    vertical-align: top;
	border:none;
}
.slide_bar .no {
    background: url("../images/slpage.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 12px;
    margin: 2px 4px;
    overflow: hidden;
    width: 12px;
}

.slide_bar .dq {
    background: url("../images/slpage.png") no-repeat scroll 0 -12px transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 12px;
    margin: 2px 4px;
    overflow: hidden;
    width: 12px;
}